<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="E-Commerce Automation Test Suite" verbose="1" parallel="tests" thread-count="3">

    <listeners>
        <listener class-name="com.aventstack.extentreports.cucumber.adapter.ExtentCucumberAdapter"/>
    </listeners>

    <!-- SauceDemo login suite - the CI-gated feature set (Chrome, headless in CI) -->
    <test name="Login Tests - Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>

</suite>
